<a href="https://colab.research.google.com/github/EMERSON06/Domingo-Emerson-A-ADV-Midterm-Exam.ipynb/blob/main/Domingo%2C_Emerson_A_ADV_Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Capitalize the first word of the variable name:
name = input("What is your name? ")
print("Hello", name.???())
age = input("How old are you? ")
print("You are", age, "years old")

In [2]:
name = input("What is your name? ")
print("Hello", name.capitalize())
age = input("How old are you? ")
print("You are", age, "years old")

What is your name? emerson
Hello Emerson
How old are you? 21
You are 21 years old

Capitalize the first letter stored in the variable:

In [3]:
s = "pizza"
t = s[0].upper()
s.capitalize()
print(t)

P

Capitalize all the letters stored in the variable:

In [4]:
s = "pizza"
t = s.upper()
print(t)

PIZZA

Convert to lowercase all the letters stored in the variable:

In [6]:
s = "pizza"
t = s.lower()
print(t)

pizza

Replace R with P and d with l

In [8]:
name = "Read"
new_name = name.replace('R', 'P').replace('d', 'l')
print(new_name)

Peal

Determine the data type of the following by one line of code:
a = 2
b = 3
c = 2.3
d = true

expected output: (int, int, float, bool)

In [12]:
a = 2
b = 3
c = 2.3
d = True
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'int'> <class 'float'> <class 'bool'>

Determine the error if there are errors and replace with the correct 
code:

In [13]:
name = input("What is your name? ") # Rune
print(f"Hello {name}!")
birth_year = input("What is your birth year? ")
birth_year = int(birth_year)
print(f"You are {2023 - birth_year} years old!")

What is your name? Emerson
Hello Emerson!
What is your birth year? 2001
You are 22 years old!

Determine the error if there are errors and replace with the correct 
code:

In [14]:
s1 = input("Enter the first number: ")
s2 = input("Enter the second number: ")
Add = float(s1) + float(s2)
print('Sum: {0} + {1} = {2}'.format(s1, s2, Add))
Subtract = float(s1) - float(s2)
print('Difference: {0} - {1} = {2}'.format(s1, s2, Subtract))
Multiply = float(s1) * float(s2)
print('Product: {0} * {1} = {2}'.format(s1, s2, Multiply))
Divide = float(s1) / float(s2)
print('Quotient: {0} / {1} = {2}'.format(s1, s2, Divide))
Exponent = float(s1) ** float(s2)
print('Power: {0} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder = float(s1) % float(s2)
print('Division with Remainder: {0} / {1} = {2}\nRemainder: {2}'.format(s1, s2, Divide, Remainder))

Enter the first number: 5
Enter the second number: 3
Sum: 5 + 3 = 8.0
Difference: 5 - 3 = 2.0
Product: 5 * 3 = 15.0
Quotient: 5 / 3 = 1.6666666666666667
Power: 5 ** 3 = 125.0
Division with Remainder: 5 / 3 = 1.6666666666666667
Remainder: 1.6666666666666667

What is the expected output of the statement presented below, Why?

Answer: The expected output of the first statement is "5", because the code first assigns the value 5 to the variable "num", and then checks whether it is greater than 0 and less than 15.

In [16]:
num = 5 
if num > 0 and num < 15: 
 print(num)

5

Use the correct comparison operator to check if 5 is not equal to 10
if 5 ??? 10:
 print("5 and 10 is not equal")

In [18]:
if 5!=10:
 print("5 and 10 is not equal")

5 and 10 is not equal

Determine errors and the expected output of the statement presented 
below:

In [20]:
choice = int(input("Enter your choice:"))
#User's choice [1,2,3,4] if (choice>=1 and choice <=4):
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())
if choice == 1: 
 res = num1 + num2
 print("Result = ", res)
elif choice == 2:
 res = num1 - num2
 print("Result = ", res)
elif choice == 3:
 res = num1 * num2
 print("Result = ", res)
elif choice == 4:
 res = num1 / num2
 print("Result = ", res)
elif choice == 5:
 exit()
else: 
 print("Wrong input..!!")

Enter your choice:1
Enter two numbers:
3
1
Result =  4.0

Access the last index of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[???])

In [21]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

Change the second index of the list into blackcurrant:
thislist = ["apple", "banana", "cherry"]
thislist[???] = "???"
[1] = "blackcurrant"
print(thislist)

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Add or append an orange as an additional item in the list:
thislist = ["apple", "banana", "cherry"]
thislist.???("???")
.append("orange")
print(thislist)

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Remove the 4th index occurrence of a value in the list:
x = [7, 4, 3, 2, 5]
x.???(???)
x.remove(5)
print(x)
expected output: [7, 4, 3, 2]

In [24]:
x = [7, 4, 3, 2, 5]
x.remove(5)
print(x)

[7, 4, 3, 2]

Use the pop method by removing an item at the index you provide:
z = [7, 5, 3, 3]
print(z.???(???)) 
(x.pop(1))
print(z)
expected output: 
5
[7, 3, 3]

In [30]:
z = [7, 5, 3, 3]
removed_item = z.pop(1)
print(removed_item)
print(z)

5
[7, 3, 3]

Use the extend method to append 4 and 5 items in the list:
x = [1, 2, 3]
x.???([???]) 
x.extend(4,5)
print(x)
expected output: [1, 2, 3, 4, 5]

In [32]:
x = [1, 2, 3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

Use the insert method to insert items next to the defined index in the 
list:
z = [1, 2, 3, 4, 5]
z.???(4, [???]) 
z.insert(4, [1, 2]) 
print(z)
output: [1, 2, 3, 4, [1, 2], 5]

In [33]:
z = [1, 2, 3, 4, 5]
z.insert(4, [1, 2]) 
print(z)

[1, 2, 3, 4, [1, 2], 5]

Determine errors and the expected output

In [34]:
# importing library
import numpy
# initializing list
lst = [1, 7, 0, 6, 2, 5, 6]
# converting list to array
arr = numpy.asarray(lst)
# displaying list
print("List:", lst)
# displaying array
print("arr: ", arr)
# made another array out of arr using asarray function
arr1 = numpy.asarray(arr)
#displaying arr1 before the changes made
print("arr1: " , arr1)
#change made in arr1
arr1[3] = 23
#displaying arr1 , arr , list after the change has been made
print("lst: " , lst)
print("arr1: " , arr1)

List: [1, 7, 0, 6, 2, 5, 6]
arr:  [1 7 0 6 2 5 6]
arr1:  [1 7 0 6 2 5 6]
lst:  [1, 7, 0, 6, 2, 5, 6]
arr1:  [ 1  7  0 23  2  5  6]